{%extends 'base.html'%}

{%block content%}
<h1 class="text-center mt-2"> Bienvenue sur mon site </h1>

<div class="container-fluid">
    <div class="row">

        {% for article in liste_articles %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 col-xxl-3" style="margin-top: 20px">
                <div class="card" style="margin-top: 5px; margin-left: 5px;">
                    
                    {% if article.image == "http://default"%}
                    <a href="{%url 'detail' article.id%}">
                        <img class="card-img-top max-width: 100% img-fluid" src="http://via.placeholder.com/640x440" alt="Fissure in Sandstone">
                    </a>
                    
                    {%else%}
                    <a href="{% url 'detail' article.id %}">
                        <img src="{{article.image.url}}" class="card-img-top max-width: 100% img-fluid" alt="Fissure in Sandstone"/>
                    </a>
                    {%endif%}

                    <div class="card-body" style="height: 250px;">
                        <h5 class="card-title"><a href="{% url 'detail' article.id %}">{{article.title}}</a></h5>
                        <p class="card-text">{{article.desc|truncatewords:5}}</p>
                        <p class="card-text">Publier il y'a une {{article.created_at|timesince}}</p>
                        <a href="{% url 'detail' article.id %}" class="btn btn-primary">Lire la suite</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{%endblock%}
    

